@model IEnumerable<WEBGROUP_GCC0903.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
             <th scope="col">
                Id
            </th>
            <th scope="col">
                Country
            </th>
            <th scope="col">
                Cus_first_name
            </th>
            <th scope="col">
                Cus_last_name
            </th>
            <th scope="col">
                House number/street name
            </th>
            <th scope="col">
                Cus_city
            </th>
            <th scope="col">
                Cus_phone
            </th>
            <th scope="col">
                Cus_email
            </th>
            <th scope="col">
                OrderDate
            </th>
            <th scope="col">
                DeliveryDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.order_id
            </td>
            <td>
                @item.country
            </td>
            <td>
                @item.cus_first_name
            </td>
            <td>
                @item.cus_last_name
            </td>
            <td>
                @item.cus_address
            </td>
            <td>
                @item.cus_city
            </td>
            <td>
                @item.cus_phone
            </td>
            <td>
                @item.cus_email
            </td>
            <td>
                @item.OrderDate
            </td>
            <td>
                @item.DeliveryDate
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.order_id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.order_id" onclick="return confirm('Do u want to delete?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
