@model IEnumerable<WEBGROUP_GCC0903.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Product</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Add</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
               Product Name
            </th>
            <th>
              Quantity
            </th>
            <th>
               Import Price
            </th>
            <th>
                Sale Price
            </th>
            <th>
                Image
            </th>
            <th>
                Description
            </th>
            <th>
                Category ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.pro_name
            </td>
            <td>
                @item.pro_quantity
            </td>
            <td>
                @item.import_price
            </td>
            <td>
                @item.sale_price
            </td>
            <td>
                <img src="~/Products/@item.pro_image" style= "width:130px;height:130px"/>
            </td>
            <td>
                @item.description
            </td>
            <td>
                @item.cat_id
            </td>
            <td>
                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.pro_id">Edit</a> 
                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.pro_id" onclick="return confirm('Do u want to delete?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

